<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/submit-details" method="post">
        <label for="name">Name:</label>
        <input type="text", id="name" name = "name1">
        <br><br>

        <label for="phone">Phone:</label>
        <input type="text" id="phone" name = "phone">

        <button>submit</button>
    </form>
</body>
</html>


<!-- Get -> to extract the resource
    post -> to createa resource
    put -> to fully update a resource
    patch -> partial update a resource
    Delete -> to delete a resource
-->